body{
    background-color: azure;

}
h1{
    size: 2ch;
    text-shadow: 4cap;
    color:rgba(128, 0, 128, 0.983);
    font-size: 5ch;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    text-decoration: dotted;
    text-overflow: clip;
    
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 16px;
    min-height: 100vh; /* Adjust if necessary */
    overflow-y: auto; /* Enable vertical scrolling if needed */
}

.gallery img{
    width: 50ch;
    height: 40ch;
    padding-left: 2cap;
    padding-right: 2cap;
    padding-top: 2cap;
    padding-bottom: 2cap;
}

